* {
  font-family: "firacode";
  color: #ebdbb2
}

window#waybar {
  background-color: #282828;
}

.modules-left,
.modules-right {
  background-color: #3c3836;
}

#workspaces button {
  border-radius: 0px;
}

#workspaces button.focused {
  background-color: #98971a;
}

#clock {
  padding: 0.5em;
}

#battery {
  padding: 0.5em;
}

#battery.warning {
  background-color: #d79921;
}

#battery.critical {
  background-color: #fb4934;
}

#tray {
  padding: 1em 0.5em;
}
