* {
  font-family: "firacode";
}

window#waybar {
  background-color: #282828;
}

#workspaces button {
  border-radius: 0px;
  background-color: #3c3836;
}

#workspaces button.focused {
  background-color: #98971a;
}

#clock,
#tray {
  padding: 5px;
  background-color: #3c3836;
}

#tray {
  padding-top: 12px;
}
