input {
    keyboard {
        xkb {
            layout "ca"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        scroll-method "two-finger"
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
        accel-profile "flat"
        middle-emulation
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "DP-1" {
    mode "3440x1440@160"
    variable-refresh-rate
    focus-at-startup
    position x=2560 y=0
}

output "HDMI-A-1" {
    mode "2560x1440@60"
    position x=0 y=0
}

layout {
    gaps 0
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.66667; }

    focus-ring {
        off
    }

    border {
        width 2
        active-color "#b8bb26"
        inactive-color "#282828"
        urgent-color "#fb4934"
    }
}

spawn-at-startup "librewolf"
spawn-at-startup "waybar"
spawn-at-startup "gammastep" "-r"
spawn-at-startup "sh" "-c" "swayidle -w timeout 300 'swaylock -f -c 000000' timeout 600 'niri msg action power-off-monitors' before-sleep 'swaylock -f -c 000000'"
spawn-at-startup "dunst"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.2 // fast af boii
}

workspace "󰈹" {
    open-on-output "DP-1"
}

workspace "" {
    open-on-output "DP-1"
}

workspace "" {
    open-on-output "HDMI-A-1"
}

workspace "󰝚" {
    open-on-output "HDMI-A-1"
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="librewolf"

    open-on-workspace "󰈹"
    open-maximized true
}

window-rule {
    match app-id="discord"
    match app-id="org.signal.Signal"
    match app-id="eu.betterbird.Betterbird"

    open-on-workspace ""
}

window-rule {
    match app-id="Spotify"

    open-on-workspace "󰝚"
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#

    block-out-from "screen-capture"
}

binds {
    Mod+Return { spawn "foot"; }
    Mod+Space { spawn-sh "pkill fuzzel || fuzzel"; }
    Super+Alt+L {
        spawn "sh" "-c" "niri msg action power-off-monitors && niri msg action spawn -- swaylock -f -c 000000";
    }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "light" "-A" "10"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "light" "-U" "10"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Shift+Q repeat=false { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    Mod+M { focus-workspace-down; }
    Mod+comma { focus-workspace-up; }
    Mod+Shift+M { move-column-to-workspace-down; }
    Mod+Shift+comma { move-column-to-workspace-up; }

    Mod+WheelScrollDown { focus-workspace-down; }
    Mod+WheelScrollUp { focus-workspace-up; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+z { center-column; }
    Mod+Ctrl+z { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+Shift+S { screenshot; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
